<div class="contact-form-messages">
    <div class="alert alert-success alert-dismissible fade show d-none" id="form-message-success-block">
        <strong>Success!</strong>&nbsp;<span>Your message has been sent successfully.</span>
    </div>
    <div class="alert alert-danger alert-dismissible fade show d-none" id="form-message-error-block">
        <strong>Error!</strong>&nbsp;<span>A problem has been occurred while submitting your data.</span>
    </div>
</div>